body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 0 20px;
}

label {
    display: block; /* Ensures each label is on a new line */
    /* Adjust the bottom margin as needed */
}

input {

    margin-bottom: 10px; 
}


.instruction {
    font-size: 18px;
    margin-bottom: 20px;
}

.recorder {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.btnSubmit {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

.btnStop, .btnStart {
    margin-top: 10px;
    margin-right: 5px;
}

.recordingDuration {
    margin-top: 10px;
    font-size: 14px;
}

audio {
    margin-top: 10px;
    width: 100%;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust as needed */
}

.index-display {
    font-family: 'Arial', sans-serif; /* Example: Use Arial font family */
    font-weight: bold; /* Example: Apply bold font weight */
    font-size: 14px; /* Example: Set font size to 14 pixels */
    color: #333; /* Example: Set text color to dark gray */
    margin-bottom: 6px; /* Example: Add bottom margin for spacing */
}
