<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>Audio Recording for Voice Cloning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/audioRecorder.js"></script> <!-- JavaScript file for audio recorder functionality -->
</head>
<body>
    <div class="lang-container">
        <a href="/en" class="lang-button">English Version</a>
    </div>
    <header>
        <h1>Audio Recording for Training Set Collection</h1>
    </header>
    <main>
        <p class="instruction">
            请使用以下工具为每个提供的短句录制您的声音，並确保填写稱呼以便后端记录收集音頻。
            提交的录音将在请求时用于声音克隆。为了获得最佳效果，请确保最小的背景噪音和阅读清晰度。
            按下提交按钮后，几秒钟内将出现确认提示。
        </p>
        <p class="warning">
            在iOS设备上，可能会出现界面问题导致播放功能失效。
            尽管您仍可以提交录音，尝试重新录制可能会导致错误。
            如果您希望在iOS设备上重新录制，请在继续之前刷新页面并重新输入您的姓名。
        </p>
        <p>
            <label for="audioSource">Audio input source: </label>
            <select id="audioSource"></select>
        </p>
        
        <label for="textInput">主播稱呼:</label>
        <input type="text" id="modelName">

        <script src="static/initRecorders.js"></script> 
        <div id="recorderContainer"></div>       
        
        <!-- Pagination container for the button and page display -->
        <div class="pagination-container">
            <button id="changeContentButton">下一頁</button>
            <p id="pageDisplay">Page 1 of 2</p> <!-- Display current page / total pages -->
        </div>

        <!-- JavaScript script for handling the button click -->
        <script src="static/loadPage.js"></script> 


    </main>    
</body>
</html>
