<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>Audio Recording and Playback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/audioRecorder.js"></script> <!-- JavaScript file for audio recorder functionality -->
</head>
<body>
    <header>
        <h1>Audio Recording for Training Set Collection</h1>
    </header>
    <main>
        <p class="instruction">For each provided script snippet, please use the following recording fields or upload files.</p>
        <p>
            <label for="audioSource">Audio input source: </label>
            <select id="audioSource"></select>
        </p>
        
        <script src="static/initRecorders.js"></script> 
        <div id="recorderContainer"></div>        
    </main>    
    
</body>
</html>
