<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>Audio Recording for Voice Cloning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/audioRecorder.js"></script> <!-- JavaScript file for audio recorder functionality -->
</head>
<body>
    <header>
        <h1>Audio Recording for Training Set Collection</h1>
    </header>
    <main>
        <p class="instruction">
            请使用以下工具为每个提供的短句录制您的声音，並确保填写稱呼以便后端记录收集音頻。
        </p>
        <p>
            <label for="audioSource">Audio input source: </label>
            <select id="audioSource"></select>
        </p>
        
        <label for="textInput">主播稱呼:</label>
        <input type="text" id="modelName">

        <script src="static/initRecorders.js"></script> 
        <div id="recorderContainer"></div>       
        
        <!-- Pagination container for the button and page display -->
        <div class="pagination-container">
            <button id="changeContentButton">下一頁</button>
            <p id="pageDisplay">Page 1 of 2</p> <!-- Display current page / total pages -->
        </div>

        <!-- JavaScript script for handling the button click -->
        <script src="static/loadPage.js"></script> 


    </main>    
</body>
</html>
