<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="UTF-8">
    <title>Audio Recording for Voice Cloning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="static/audioRecorder.js"></script> <!-- JavaScript file for audio recorder functionality -->
</head>
<body>
    <div class="lang-container">
        <a href="/" class="lang-button">中文版本</a>
    </div>
    <header>
        <h1>Audio Recording for Training Set Collection</h1>
    </header>
    <main>
        <p class="instruction">
            Please use the following tool to record your voice for each provided sentence, and make sure to fill in your name so that the backend can collect all audio recordings accordingly.
            The submitted recordings will be used for voice cloning once requested. For best results, please ensure reading clarity and minimum background noise.
            After pressing the submit button, a confirmation prompt will appear within a few seconds.
        </p>
        <p class="warning">
            On iOS devices, there are interface issues that may cause playback to malfunction.
            While submitting recordings remains possible, attempting to re-record may result in an error.
            If you wish to re-record on iOS devices, kindly refresh the page and input your name again before proceeding.
        </p>
        <p>
            <label for="audioSource">Audio input source: </label>
            <select id="audioSource"></select>
        </p>
        
        <label for="textInput">Reporter Name:</label>
        <input type="text" id="modelName">

        <script src="static/initRecorders.js"></script> 
        <div id="recorderContainer"></div>       
        
        <!-- Pagination container for the button and page display -->
        <div class="pagination-container">
            <button id="changeContentButton">Next Page</button>
            <p id="pageDisplay">Page 1 of 2</p> <!-- Display current page / total pages -->
        </div>

        <!-- JavaScript script for handling the button click -->
        <script src="{{ url_for('static', filename='loadPage.js') }}" data-ind="{{ ind }}"></script>
    </main>    
</body>
</html>
